<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Expense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_expense.css') }}">

</head>
<body>
    <h1>Add Expense</h1>
    <form method="post">
        <label for="date">Date (YYYY-MM-DD):</label>
        <input type="text" name="date" required><br>
        <label for="description">Description:</label>
        <input type="text" name="description" required><br>
        <label for="category">Category:</label>
        <input type="text" name="category" required><br>
        <label for="price">Price:</label>
        <input type="text" name="price" required><br>
        <button type="submit">Add Expense</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
