<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Expense Tracker</h1>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.category }}</td>
                    <td>${{ expense.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('add_expense') }}" class="btn">Add Expense</a>
        <a href="{{ url_for('logout') }}" class="btn">Logout</a>
        <a href="{{ url_for('summary')}}" class="btn"> Summary</a>
    </div>
</body>
</html>
